.my-medium {
  margin-top: 16px;
  margin-bottom: 16px;
}

.h1-title {
  font-family: Montserrat, serif;
  font-size: 2.2rem;
  font-weight: 500;
}

.h2-title {
  font-family: Montserrat, serif;
  font-size: 1.7em;
  font-weight: 500;
}
