<template>
  <div
    id="emissions-results"
  >
    <h1 id="emissions-results-title" class="title">
      Your emissions results
    </h1>
    <div class="columns">
      <div
        class="column"
      >
        <div
          id="donut-chart"
        >
          <DonutChart
            :chart-data="dataCollection"
            :options="options"
          />
          <p>
            The chart represent the percentage of CO2 equivalent you used from your annual CO2e budget following the
            recommendation of the Paris agreement.
          </p>
        </div>
      </div>
      <div class="column">
        <h2
          id="trip-emissions-reports-title"
          class="subtitle"
        >
          Detailed reports of your trip emissions:
        </h2>
        <b-table :data="dataTable" :columns="columns" narrowed />
      </div>
    </div>
  </div>
</template>

<script>
import DonutChart from './Charts/DonutChart'

export default {
  name: 'Result',
  components: {
    DonutChart
  },
  props: {
    results: { type: Object, required: true }
  },
  data: () => ({
    options: {
      responsive: true,
      cutoutPercentage: 50
    },
    columns: [
      {
        field: 'gas',
        label: 'Gas'
      },
      {
        field: 'amount',
        label: 'Amount',
        numeric: true
      },
      {
        field: 'uom',
        label: 'Unit of measure'
      }
    ]
  }),
  computed: {
    emissionPercentage () {
      const recommendedEmission = 2100 // 2,1 tonnes of CO2e is what is recommended by the paris agreement for 2050
      const co2e = this.results.CO2e.amount
      const percentage = Math.round(co2e / recommendedEmission * 100)

      return percentage
    },
    dataCollection () {
      let collection
      if (this.emissionPercentage < 100) {
        collection = {
          labels: ['Your emission percentage'],
          datasets: [
            {
              label: '',
              backgroundColor: ['rgba(0,255,33,0.49)', 'rgba(180,180,180,0.49)'],
              data: [this.emissionPercentage, 100 - this.emissionPercentage]
            }
          ]
        }
      } else if (this.emissionPercentage >= 100) {
        collection = {
          labels: ['Your emission percentage'],
          datasets: [
            {
              label: '',
              backgroundColor: ['rgba(255,0,0,0.49)'],
              data: [100]
            }
          ]
        }
      }
      return collection
    },
    dataTable () {
      return [
        { gas: 'CO2e', amount: this.results.CO2e.amount, uom: this.results.CO2e.uom },
        { gas: 'CO2', amount: this.results.CO2.amount, uom: this.results.CO2.uom },
        { gas: 'CH4', amount: this.results.CH4.amount, uom: this.results.CH4.uom },
        { gas: 'N2O', amount: this.results.N2O.amount, uom: this.results.N2O.uom }
      ]
    }
  }
}
</script>

<style scoped>
  #emissions-results-title {
    text-align: center;
  }

  #donut-chart {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  @media only screen and (max-width: 426px) {
    #donut-chart {
      width: 70% !important;
      margin-left: 15% !important;
    }
  }
  @media only screen and (min-width: 426px) {
    #donut-chart {
      width: 50% !important;
      margin-left: 25% !important;
    }
  }
  @media only screen and (min-width: 1024px) {
    #donut-chart {
      width: 40% !important;
      margin-left: 30% !important;
    }
  }

  #trip-emissions-reports-title {
    margin-top: 16px;
    margin-bottom: 16px;
  }
</style>
