<template>
  <div class="container">
    <div class="section">
      <h1 class="h1-title">
        About
      </h1>
      <div class="section">
        <h2 class="title">Privacy policy</h2>
        <p>
          <span>Open eco impact respects the privacy of our users.</span>
          <span>This Privacy Policy explains how we collect, use, disclose, and safeguard your information when you visit our website openecoimpact.org.</span>
          <span>Please read this privacy policy carefully. If you do not agree with the terms of this privacy policy, please do not access the site.</span>
          <span>We reserve the right to make changes to this Privacy Policy at any time and for any reason.</span>
          <span>We will alert you about any changes by updating the “Last Updated” date of this Privacy Policy.</span>
          <span>Any changes or modifications will be effective immediately upon posting the updated Privacy Policy on the Site, and you waive the right to receive specific notice of each such change or modification.</span>
          <span>You are encouraged to periodically review this Privacy Policy to stay informed of updates.</span>
          <span>You will be deemed to have been made aware of, will be subject to, and will be deemed to have accepted the changes in any revised Privacy Policy by your continued use of the Site after the date such revised Privacy Policy is posted.</span>
        </p>
        <h2 class="title my-medium">Website host</h2>
        <ul>
          <li>
            This website is hosted on <a href="https://www.digitalocean.com/">DigitalOcean</a>
          </li>
          <li>
            This website is developed by Axel Vallée
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'About'
}
</script>

<style scoped>

</style>
