<template>
  <section class="section">
    <h1 class="h1-title">
      Calculator
    </h1>
    <div class="tabs is-toggle is-toggle-rounded is-centered">
      <ul>
        <li :class="{ 'is-active': $route.name === 'Calculator-GroundVehicles' }">
          <nuxt-link to="/calculator/groundvehicles" active-class="is-active">
            <b-icon icon="road" />
          </nuxt-link>
        </li>
        <li :class="{ 'is-active': $route.name === 'Calculator-Train'}">
          <nuxt-link to="/calculator/train">
            <b-icon icon="train" />
          </nuxt-link>
        </li>
      </ul>
    </div>
    <nuxt-child />
  </section>
</template>

<script>
export default {
  name: 'Calculator'
}
</script>

<style scoped>

</style>
