<template>
  <div class="container">
    <div class="section">
      <h1 class="h1-title">
        Contact
      </h1>
      <div class="section">
        <ul>
          <li>
            <a href="mailto:openecoimpact@protonmail.ch">Mail</a>
          </li>
          <li>
            Phone number: none
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Contact'
}
</script>

<style scoped>

</style>
