<template>
  <div class="container">
    <main>
      <div class="section">
        <h1 class="h1-title">
          Latest news
        </h1>
        <nuxt-link :to="{ path: `news/${posts[0].slug}` }" class="h2-title">
          {{ posts[0].title }}
        </nuxt-link>
        <span>by {{ posts[0].authors[0].name }}</span>
        <img :src="posts[0].feature_image" alt="Post feature image">
        <p v-html="posts[0].excerpt" />
      </div>
    </main>
  </div>
</template>

<script>
import { getPosts } from '~/plugins/posts'

export default {
  name: 'HomePage',
  async asyncData () {
    const posts = await getPosts()
    return { posts }
  },
  data: () => ({
    apiUrl: process.env.apiUrl
  })
}
</script>
