<template>
  <div>
    <div class="container">
      <div class="section">
        <h1 class="h1-title">
          News
        </h1>
        <ul>
          <li v-for="(post, index) in posts" :key="index" class="post-resume">
            <div class="content">
              <nuxt-link :to="{ path: `news/${post.slug}` }">
                {{ post.title }}
              </nuxt-link>
              <span>by {{ post.authors[0].name }}</span>
              <img :src="post.feature_image" alt="post feature image">
              <p v-html="post.excerpt" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</template>

<script>
import { getPosts } from '~/plugins/posts'

export default {
  name: 'News',
  async asyncData () {
    const posts = await getPosts()
    return { posts }
  }
}
</script>

<style scoped>
.post-resume {
  margin-bottom: 2em;
}
</style>
