<template>
  <div class="container">
    <main>
      <h1 class="h1-title">
        {{ post.title }}
      </h1>
      <hr>
      <div class="publication-details">
        <p>
          <b-icon icon="calendar-outline" size="is-small" />
          <span>{{ $moment(post.published_at).format('DD MMMM YYYY') }}</span>
        </p>
        <p>
          <b-icon icon="clock-outline" size="is-small" />
          <span>{{ $moment.duration(post.reading_time, 'minutes').humanize() }}</span>
        </p>
      </div>

      <img class="feature-image" :src="post.feature_image" alt="">

      <div class="content">
        <div v-html="post.html"/>
      </div>
    </main>
  </div>
</template>

<script>
import { getSinglePost } from '~/plugins/posts'

export default {
  async asyncData ({ params }) {
    const post = await getSinglePost(params.slug)
    return { post }
  }
}
</script>

<style scoped>
.publication-details {
  font-weight: 300;
}

.feature-image {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
}
</style>
