<template>
  <div
    id="car-form"
    class="content"
  >
    <div
      class="my-medium"
    >
      <label class="label">Distance travelled</label>
      <b-field>
        <b-input
          v-model="distanceTravelled"
          type="number"
          min="0"
          expanded
        />
        <b-select
          v-model="unitOfMeasure"
        >
          <option
            v-for="option in unitOfMeasureEnum"
            :key="option.value"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>
    </div>

    <transition name="field-fade" mode="out-in">
      <b-field
        v-if="isPropulsionTypeFieldVisible"
        class="my-medium"
        label="Propulsion type"
      >
        <b-select
          v-model="propulsionType"
          expanded
        >
          <option
            v-for="option in propulsionTypeEnum"
            :key="option.value"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>
    </transition>

    <transition name="field-fade" mode="out-in">
      <div
        v-if="isMarketSegmentKnownFieldVisible"
        id="market-segment-known"
        class="my-medium"
      >
        <p>Do you know the market segment of your vehicle ?</p>
        <b-field>
          <b-radio-button
            v-model="marketSegmentKnown"
            :native-value="true"
            type="is-success"
          >
            <b-icon icon="check" />
            <span>Yes</span>
          </b-radio-button>
          <b-radio-button
            v-model="marketSegmentKnown"
            :native-value="false"
            type="is-danger"
          >
            <b-icon icon="close" />
            <span>No</span>
          </b-radio-button>
        </b-field>
      </div>
    </transition>

    <transition name="field-fade" mode="out-in">
      <div
        v-if="isMarketSegmentFieldVisible"
        id="market-segment"
        class="my-medium"
      >
        <b-field
          label="Market Segment"
        >
          <b-select
            v-model="marketSegment"
            expanded
          >
            <option
              v-for="option in marketSegmentEnum"
              :key="option.value"
              :value="option.value"
            >
              {{ option.name }}
            </option>
          </b-select>
        </b-field>
      </div>
    </transition>

    <transition name="field-fade" mode="out-in">
      <div
        v-if="isSizeKnownFieldVisible"
        id="size-known"
        class="my-medium"
      >
        <p>Do you know the size of your vehicle ?</p>
        <b-field>
          <b-radio-button
            v-model="sizeKnown"
            :native-value="true"
            type="is-success"
          >
            <b-icon icon="check" />
            <span>Yes</span>
          </b-radio-button>
          <b-radio-button
            v-model="sizeKnown"
            :native-value="false"
            type="is-danger"
          >
            <b-icon icon="close" />
            <span>No</span>
          </b-radio-button>
        </b-field>
      </div>
    </transition>

    <transition name="field-fade" mode="out-in">
      <div
        v-if="isSizeFieldVisible"
        id="size"
        class="my-medium"
      >
        <b-field
          label="Size"
        >
          <b-select
            v-model="size"
            expanded
          >
            <option
              v-for="option in sizeEnum"
              :key="option.value"
              :value="option.value"
            >
              {{ option.name }}
            </option>
          </b-select>
        </b-field>
      </div>
    </transition>

    <transition name="field-fade" mode="out-in">
      <b-button
        v-if="canSubmit"
        class="my-medium"
        type="is-primary submit"
        @click="getCarEmissionsResults"
      >
        Submit
      </b-button>
    </transition>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minValue } from 'vuelidate/lib/validators'

export default {
  name: 'CarForm',
  mixins: [validationMixin],
  data: () => ({
    distanceTravelled: null,
    unitOfMeasure: 'km',
    unitOfMeasureEnum: [
      {
        value: 'km',
        name: 'Km'
      },
      {
        value: 'miles',
        name: 'Miles'
      }
    ],
    propulsionType: null,
    propulsionTypeEnum: [
      {
        value: 'unknown',
        name: 'Unknown'
      },
      {
        value: 'diesel',
        name: 'Diesel'
      },
      {
        value: 'petrol',
        name: 'Petrol'
      },
      {
        value: 'cng',
        name: 'Compressed Natural Gas'
      },
      {
        value: 'lpg',
        name: 'Liquified Petroleum Gas'
      },
      {
        value: 'hybrid',
        name: 'Hybrid'
      },
      {
        value: 'plug_in_hybrid',
        name: 'Plug-in Hybrid'
      }
    ],
    marketSegmentKnown: null,
    marketSegment: null,
    marketSegmentEnum: [
      {
        value: 'mini',
        name: 'Mini'
      },
      {
        value: 'supermini',
        name: 'Super Mini'
      },
      {
        value: 'lower_medium',
        name: 'Lower medium'
      },
      {
        value: 'upper_medium',
        name: 'Upper medium'
      },
      {
        value: 'executive',
        name: 'Executive'
      },
      {
        value: 'luxury',
        name: 'Luxury'
      },
      {
        value: 'sports',
        name: 'Sports'
      },
      {
        value: 'dual_purpose_4x4',
        name: 'Dual purpose 4x4'
      },
      {
        value: 'mpv',
        name: 'Multi Purpose Vehicle'
      }
    ],
    sizeKnown: null,
    size: null,
    sizeEnum: [
      {
        value: 'average',
        name: 'Average'
      },
      {
        value: 'small',
        name: 'Small'
      },
      {
        value: 'medium',
        name: 'Medium'
      },
      {
        value: 'large',
        name: 'Large'
      }
    ]
  }),
  computed: {
    isPropulsionTypeFieldVisible () {
      let isVisible = false
      if (this.distanceTravelled !== null) {
        isVisible = true
      }
      return isVisible
    },
    isMarketSegmentKnownFieldVisible () {
      let isVisible = false
      if (this.propulsionType !== null) {
        isVisible = true
      }
      return isVisible
    },
    isMarketSegmentFieldVisible () {
      let isVisible = false
      if (this.marketSegmentKnown === true) {
        isVisible = true
      }
      return isVisible
    },
    isSizeKnownFieldVisible () {
      let isVisible = false
      if (this.marketSegmentKnown === false) {
        isVisible = true
      }
      return isVisible
    },
    isSizeFieldVisible () {
      let isVisible = false
      if (this.sizeKnown === true && this.marketSegmentKnown === false) {
        isVisible = true
      }
      return isVisible
    },
    canSubmit () {
      let canSubmit = false
      if (this.marketSegment !== null && !this.$v.$invalid) {
        canSubmit = true
      } else if (this.size !== null && !this.$v.$invalid) {
        canSubmit = true
      }
      return canSubmit
    }
  },
  validations: {
    distanceTravelled: {
      required,
      minValue: minValue(1)
    },
    propulsionType: {
      required
    }
  },
  methods: {
    async getCarEmissionsResults () {
      const url = process.env.apiUrl
      const response = await this.$axios.$get(`https://${url}/ground-vehicle/personal/car/distance`, {
        params: {
          uom: this.unitOfMeasure,
          distance_travelled: this.distanceTravelled,
          propulsion_type: this.propulsionType,
          size: this.size,
          market_segment: this.marketSegment
        },
        headers: {
          'Access-Control-Allow-Origin': '*'
        }
      }).catch(error => alert(error))
      this.$emit('result', response)
    }
  }
}
</script>

<style scoped>
  #car-form-submit-button {
    margin-top: 16px;
  }

  .field-fade-enter-active, .field-fade-leave-active {
    transition: opacity .3s ease;
  }

  .field-fade-enter, .field-fade-leave-to {
    opacity: 0;
  }
</style>
