<template>
  <div id="heavy-good-vehicles-form">
    <label class="label">Distance travelled</label>
    <b-field>
      <b-input
        v-model="distanceTravelled"
        type="number"
        min="0"
        expanded
      />
      <b-select
        v-model="unitOfMeasure"
      >
        <option
          v-for="option in unitOfMeasureEnum"
          :key="option.value"
          :value="option.value"
        >
          {{ option.name }}
        </option>
      </b-select>
    </b-field>

    <transition name="field-fade" mode="out-in">
      <b-field
        v-if="isTrailerTypeFieldVisible"
        label="Trailer type"
      >
        <b-select
          v-model="trailerType"
          expanded
        >
          <option
            v-for="option in trailerTypeEnum"
            :key="option.value"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>
    </transition>

    <transition name="field-fade" mode="out-in">
      <div
        v-if="isTrailerTypeFieldVisible"
      >
        <b-field
          v-if="trailerType === 'rigid'"
          label="Trailer capacity"
        >
          <b-select
            v-model="rigidTrailerCapacity"
            expanded
          >
            <option
              v-for="option in rigidTrailerCapacityEnum"
              :key="option.value"
              :value="option.value"
            >
              {{ option.name }}
            </option>
          </b-select>
        </b-field>
        <b-field
          v-if="trailerType === 'articulated'"
          label="Trailer capacity"
        >
          <b-select
            v-model="articulatedTrailerCapacity"
            expanded
          >
            <option
              v-for="option in articulatedTrailerCapacityEnum"
              :key="option.value"
              :value="option.value"
            >
              {{ option.name }}
            </option>
          </b-select>
        </b-field>
      </div>
    </transition>

    <transition name="field-fade" mode="out-in">
      <b-field
        v-if="isLadenFieldVisible"
        label="Laden"
      >
        <b-select
          v-model="laden"
          expanded
        >
          <option
            v-for="option in ladenEnum"
            :key="option.value"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>
    </transition>

    <transition name="field-fade" mode="out-in">
      <div
        v-if="isRefrigeratedFieldVisible"
        class="field"
      >
        <b-switch
          v-model="refrigerated"
        >
          <b>Refrigerated</b>
        </b-switch>
      </div>
    </transition>

    <transition name="field-fade" mode="out-in">
      <b-button
        v-if="isSubmitButtonVisible"
        type="is-primary submit"
        :disabled="$v.$invalid"
        @click="getHGVEmissionsResults"
      >
        Submit
      </b-button>
    </transition>
  </div>
</template>

<script>
import { validationMixin } from 'vuelidate'
import { required, minValue } from 'vuelidate/lib/validators'
export default {
  name: 'HeavyGoodVehicleForm',
  mixins: [validationMixin],
  data: () => ({
    distanceTravelled: null,
    unitOfMeasure: 'km',
    unitOfMeasureEnum: [
      {
        value: 'km',
        name: 'Km'
      },
      {
        value: 'miles',
        name: 'Miles'
      }
    ],
    trailerType: null,
    trailerTypeEnum: [
      {
        value: 'articulated',
        name: 'Articulated'
      },
      {
        value: 'rigid',
        name: 'Rigid'
      }
    ],
    laden: null,
    ladenEnum: [
      {
        value: 'average',
        name: 'Average'
      },
      {
        value: '0',
        name: '0%'
      },
      {
        value: '50',
        name: '50%'
      },
      {
        value: '100',
        name: '100%'
      }
    ],
    rigidTrailerCapacity: null,
    rigidTrailerCapacityEnum: [
      {
        value: 'average',
        name: 'Average'
      },
      {
        value: '>3.5_to_7.5_t',
        name: '>3.5t to 7.5t'
      },
      {
        value: '>7.5_to_17_t',
        name: '>7.5t to 17t'
      },
      {
        value: '>17_t',
        name: '>17t'
      }
    ],
    articulatedTrailerCapacity: null,
    articulatedTrailerCapacityEnum: [
      {
        value: 'average',
        name: 'Average'
      },
      {
        value: '>3.5_to_33_t',
        name: '>3.5t to 33t'
      },
      {
        value: '>33_t',
        name: '>33t'
      }
    ],
    refrigerated: false
  }),
  computed: {
    isTrailerTypeFieldVisible () {
      let isVisible = false
      if (this.distanceTravelled !== null) {
        isVisible = true
      }
      return isVisible
    },
    isTrailerCapacityFieldVisible () {
      let isVisible = false
      if (this.trailerType != null) {
        isVisible = true
      }
      return isVisible
    },
    isLadenFieldVisible () {
      let isVisible = false
      if (this.articulatedTrailerCapacity != null || this.rigidTrailerCapacity != null) {
        isVisible = true
      }
      return isVisible
    },
    isRefrigeratedFieldVisible () {
      let isVisible = false
      if (this.laden != null) {
        isVisible = true
      }
      return isVisible
    },
    isSubmitButtonVisible () {
      let isVisible = false
      if (this.$v.$invalid === false) {
        isVisible = true
      }
      return isVisible
    },
    normalTrailerCapacity () {
      let capacity
      if (this.trailerType === 'rigid') {
        capacity = this.rigidTrailerCapacity
      } else if (this.trailerType === 'articulated') {
        capacity = this.articulatedTrailerCapacity
      }
      return capacity
    }
  },
  watch: {
    trailerType (newVal) {
      if (newVal === 'rigid') {
        this.articulatedTrailerCapacity = null
      } else if (newVal === 'articulated') {
        this.rigidTrailerCapacity = null
      } else {
        this.articulatedTrailerCapacity = null
        this.rigidTrailerCapacity = null
      }
      this.laden = null
    }
  },
  validations: {
    distanceTravelled: {
      required,
      minValue: minValue(1)
    },
    trailerType: {
      required
    },
    laden: {
      required
    },
    normalTrailerCapacity: {
      required
    }
  },
  methods: {
    async getHGVEmissionsResults () {
      const url = process.env.apiUrl
      const params = {
        uom: this.unitOfMeasure,
        distance_travelled: this.distanceTravelled,
        trailer_type: this.trailerType,
        laden: this.laden,
        refrigerated: this.refrigerated
      }

      if (this.trailerType === 'rigid') {
        params.rigid_trailer_capacity = this.rigidTrailerCapacity
      } else if (this.trailerType === 'articulated') {
        params.articulated_trailer_capacity = this.articulatedTrailerCapacity
      }

      const response = await this.$axios.$get(`https://${url}/ground-vehicles/freight/hgv/distance`, {
        params,
        headers: {
          'Access-Control-Allow-Origin': '*'
        }
      }).catch(error => alert(error))
      this.$emit('result', response)
    }
  }
}
</script>

<style scoped>
  .field-fade-enter-active, .field-fade-leave-active {
    transition: opacity .3s ease;
  }

  .field-fade-enter, .field-fade-leave-to {
    opacity: 0;
  }
</style>
