<template>
  <div id="motorbike-form">
    <label class="label">Distance travelled</label>
    <b-field>
      <b-input
        v-model="distanceTravelled"
        type="number"
        min="0"
        expanded
      />
      <b-select
        v-model="unitOfMeasure"
      >
        <option
          v-for="option in unitOfMeasureEnum"
          :key="option.value"
          :value="option.value"
        >
          {{ option.name }}
        </option>
      </b-select>
    </b-field>

    <transition name="field-fade" mode="out-in">
      <b-field
        v-if="isSizeFieldVisible"
        label="Size"
      >
        <b-select
          v-model="size"
          expanded
        >
          <option
            v-for="option in sizeEnum"
            :key="option.value"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>
    </transition>

    <transition name="field-fade" mode="out-in">
      <b-button
        v-if="canSubmit"
        class="my-medium"
        type="is-primary submit"
        @click="getMotorbikeEmissionsResults"
      >
        Submit
      </b-button>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'MotorbikeForm',
  data: () => ({
    distanceTravelled: null,
    unitOfMeasure: 'km',
    unitOfMeasureEnum: [
      {
        value: 'km',
        name: 'Km'
      },
      {
        value: 'miles',
        name: 'Miles'
      }
    ],
    size: 'average',
    sizeEnum: [
      {
        value: 'average',
        name: 'Average'
      },
      {
        value: 'small',
        name: 'Small'
      },
      {
        value: 'medium',
        name: 'Medium'
      },
      {
        value: 'large',
        name: 'Large'
      }
    ]
  }),
  computed: {
    isSizeFieldVisible () {
      let isVisible = false
      if (this.distanceTravelled > 0) {
        isVisible = true
      }
      return isVisible
    },
    canSubmit () {
      let canSubmit = false
      if (this.distanceTravelled > 0) {
        canSubmit = true
      }
      return canSubmit
    }
  },
  methods: {
    async getMotorbikeEmissionsResults () {
      const url = process.env.apiUrl
      const response = await this.$axios.$get(`https://${url}/ground-vehicle/personal/motorbike/distance`, {
        params: {
          uom: this.unitOfMeasure,
          distance_travelled: this.distanceTravelled,
          size: this.size
        },
        headers: {
          'Access-Control-Allow-Origin': '*'
        }
      }).catch(error => alert(error))
      this.$emit('result', response)
    }
  }
}
</script>

<style scoped>
  .field-fade-enter-active, .field-fade-leave-active {
    transition: opacity .3s ease;
  }

  .field-fade-enter, .field-fade-leave-to {
    opacity: 0;
  }
</style>
