<template>
  <div id="van-form">
    <div
      class="my-medium"
    >
      <label class="label">Distance travelled</label>
      <b-field>
        <b-input
          v-model="distanceTravelled"
          type="number"
          min="0"
          expanded
        />
        <b-select
          v-model="unitOfMeasure"
        >
          <option
            v-for="option in unitOfMeasureEnum"
            :key="option.value"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>
    </div>

    <transition name="field-fade" mode="out-in">
      <b-field
        v-if="isPropulsionTypeFieldVisible"
        class="my-medium"
        label="Propulsion type"
      >
        <b-select
          v-model="propulsionType"
          expanded
        >
          <option
            v-for="option in propulsionTypeEnum"
            :key="option.value"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>
    </transition>

    <transition name="field-fade" mode="out-in">
      <b-field
        v-if="isClassTypeFieldVisible"
        id="class"
        label="Class type"
      >
        <b-select
          v-model="classType"
          expanded
        >
          <option
            v-for="option in classTypeEnum"
            :key="option.value"
            :value="option.value"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>
    </transition>

    <transition name="field-fade" mode="out-in">
      <b-button
        v-if="canSubmit"
        class="my-medium"
        type="is-primary submit"
        @click="getVanEmissionsResults"
      >
        Submit
      </b-button>
    </transition>
  </div>
</template>

<script>
export default {
  name: 'VanForm',
  data: () => ({
    distanceTravelled: null,
    unitOfMeasure: 'km',
    unitOfMeasureEnum: [
      {
        value: 'km',
        name: 'Km'
      },
      {
        value: 'miles',
        name: 'Miles'
      }
    ],
    propulsionType: null,
    propulsionTypeEnum: [
      {
        value: 'unknown',
        name: 'Unknown'
      },
      {
        value: 'diesel',
        name: 'Diesel'
      },
      {
        value: 'petrol',
        name: 'Petrol'
      },
      {
        value: 'cng',
        name: 'Compressed Natural Gas'
      },
      {
        value: 'lpg',
        name: 'Liquified Petroleum Gas'
      },
      {
        value: 'hybrid',
        name: 'Hybrid'
      },
      {
        value: 'plug_in_hybrid',
        name: 'Plug-in Hybrid'
      }
    ],
    classType: null,
    classTypeEnum: [
      {
        value: 'average',
        name: 'Average'
      },
      {
        value: '1',
        name: '1'
      },
      {
        value: '2',
        name: '2'
      },
      {
        value: '3',
        name: '3'
      }
    ]
  }),
  computed: {
    isPropulsionTypeFieldVisible () {
      let isVisible = false
      if (this.distanceTravelled !== null) {
        isVisible = true
      }
      return isVisible
    },
    isClassTypeFieldVisible () {
      let isVisible = false
      if (this.propulsionType !== null) {
        isVisible = true
      }
      return isVisible
    },
    canSubmit () {
      let canSubmit = false
      if (this.classType !== null) {
        canSubmit = true
      }
      return canSubmit
    }
  },
  methods: {
    async getVanEmissionsResults () {
      const url = process.env.apiUrl
      const response = await this.$axios.$get(`https://${url}/ground-vehicles/freight/van/distance`, {
        params: {
          uom: this.unitOfMeasure,
          distance_travelled: this.distanceTravelled,
          propulsion_type: this.propulsionType,
          class: this.classType
        },
        headers: {
          'Access-Control-Allow-Origin': '*'
        }
      }).catch(error => alert(error))
      this.$emit('result', response)
    }
  }
}
</script>

<style scoped>

</style>
