<template>
  <div>
    <form class="container">
      <b-field label="Vehicle type">
        <b-select
          v-model="vehicleType"
          placeholder="Choose a vehicle type"
          expanded
        >
          <option
            v-for="option in vehicleTypeEnum"
            :key="option.key"
            :value="option.type"
          >
            {{ option.name }}
          </option>
        </b-select>
      </b-field>

      <transition name="form-fade" mode="out-in">
        <component
          :is="currentForm"
          @result="showResult"
        />
      </transition>
    </form>

    <hr v-if="showResultComponent">

    <transition>
      <Result
        v-if="showResultComponent"
        :results="results"
      />
    </transition>
    <div id="scroll-to-result-block" />
  </div>
</template>

<script>
import Result from '@/components/Calculator/Result'
import CarForm from '@/components/Calculator/GroundVehicles/CarForm'
import MotorbikeForm from '@/components/Calculator/GroundVehicles/MotorbikeForm'
import HeavyGoodVehicleForm from '@/components/Calculator/GroundVehicles/HeavyGoodVehicleForm'
import VanForm from '@/components/Calculator/GroundVehicles/VanForm'

export default {
  name: 'GroundVehicles',
  components: {
    Result
  },
  data: () => ({
    vehicleType: 'car',
    vehicleTypeEnum: [
      {
        key: 'car',
        type: 'car',
        name: 'Car'
      },
      {
        key: 'motorbike',
        type: 'motorbike',
        name: 'Motorbike'
      },
      {
        key: 'hgv',
        type: 'hgv',
        name: 'Heavy Goods Vehicle'
      },
      {
        key: 'van',
        type: 'van',
        name: 'Van'
      }
    ],
    showResultComponent: false,
    results: {}
  }),
  computed: {
    currentForm () {
      let component
      switch (this.vehicleType) {
        case 'car':
          component = CarForm
          break
        case 'motorbike':
          component = MotorbikeForm
          break
        case 'hgv':
          component = HeavyGoodVehicleForm
          break
        case 'van':
          component = VanForm
          break
      }
      return component
    }
  },
  methods: {
    showResult (newVal) {
      if (newVal === '') {
        this.showResultComponent = false
        alert('No results')
      } else {
        this.results = newVal
        this.showResultComponent = true
      }
    }
  }
}
</script>

<style scoped>
 .form-fade-enter-active, .form-fade-leave-active {
  transition: opacity .3s ease;
}
.form-fade-enter, .form-fade-leave-to {
  opacity: 0;
}
</style>
