<template>
  <div class="section">
    <h1><b-icon icon="alert-circle" />&nbsp;Coming soon !</h1>
  </div>
</template>

<script>
export default {
  name: 'Train',
  data: () => ({
    distance: undefined
  })
}
</script>

<style scoped>

</style>
